.mv {
    background: transparent;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
}

.mv-value {
    animation: load 4s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 0px;
    height: 30px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.mv-value2 {
    animation: load2 2s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 0px;
    height: 30px;
    width: 0;
}

@keyframes load2 {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

button#clickme {
    width: 20px;
    height: 20px;
    background: #444;
    cursor: pointer;
    display: block;
    text-indent: -9999px
}

button#clickm {
    width: 20px;
    height: 20px;
    background: #444;
    cursor: pointer;
    display: block;
    text-indent: -9999px
}

div.mydiv {
    width: 200px;
    height: 200px;
    border: 2px solid #666;
    position: fixed;
    left: -200px
}

div.rtdiv {
    width: 200px;
    height: 200px;
    border: 2px solid #666;
    position: fixed;
    right: -200px
}

.tipl {
    animation-name: left;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.tipr {
    animation-name: right;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.dl1 {
    animation-delay: 1000ms;
}

.dl2 {
    animation-delay: 3000ms;
}

.dl3 {
    animation-delay: 5000ms;
}

.dl4 {
    animation-delay: 7000ms;
}

.trt {
    height: auto;
    width: auto;
    float: left;
    animation: fadeIn ease 8s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .01em;
    /* Adjust as needed */
    animation: typing 3.5s steps(100, end), blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgb(10, 10, 10);
    }
}

.trt h5 {
    height: 300px;
    width: 200px;
    margin-top: 20%;
    text-align: center;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*========================================================== 
Spin animation for all kind of rotation of 360 degree CSS 
===========================================================*/

.rotation_ainm {
    animation-name: spin;
    animation-duration: 26s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}

.rotation_ainm2 {
    animation-name: spin2;
    animation-duration: 2s;
    animation-iteration-count: linear;
    animation-timing-function: 10s;
}

@keyframes spin2 {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}



/* card image rotate animation start */

.rotAnimate-x {
    -webkit-animation-name: spingskrotateD;
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    animation-name: spingskrotateD; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes spingskrotateD{
    from{-webkit-transform:rotateZ(-360deg);transform:rotateZ(-360deg);}
    to{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg);}
}

/* Card image rotate animation End */



/* header topbar css start*/

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2022-4-18 14:40:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(200px);
              transform: translateY(200);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  
/* topbar css end */


/* heart bit button effect start */
.Anm-hrtbt {    
    animation: hrtbt 1.4s ease-out infinite;
}

@keyframes outln15si {
    0% {
        outline-color: rgb(0, 0, 0);
        outline-style: solid;
        outline-offset: 0.5px;
    }
    85% {
        outline-width: 0.9px;
    }
    100% {
        outline-offset: 5px;
        outline-color: transparent;
    }
}

@keyframes hrtbt {
    0% {
      
        width: auto;
        height: auto;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
     
        font-smooth: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        text-decoration: none;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        /* border-top: 1px solid rgba(0,0,0,0.001); */
        box-shadow: 0 0 5px rgba(36, 36, 36, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(104, 103, 103, 0.877);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(139, 139, 139, 0.877);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(117, 115, 115, 0.877);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(109, 107, 107, 0.877);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(77, 76, 76, 0.87);
        cursor: pointer;
    }

    100% {
        outline-offset: 5px;
        outline-color: transparent;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
      
        font-smooth: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        text-decoration: none;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(41, 41, 41, 0.25);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(10, 10, 10, 0.25);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        animation: glow 1s infinite ease-in-out;
        cursor: pointer;
        outline: none;
    }
}
/* heart bit effect button end */

/* limited offer button css start */


.Anm-outln15si {
    animation: ltdbtn 1.4s ease-out infinite;
}

@keyframes outln15si {
    0% {
        outline-color: rgb(0, 0, 0);
        outline-style: solid;
        outline-offset: 0.5px;
    }
    85% {
        outline-width: 0.9px;
    }
    100% {
        outline-offset: 5px;
        outline-color: transparent;
    }
}

@keyframes ltdbtn {
    0% {
        outline-style: solid;
        outline-offset: 0.5px;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        outline-color: rgb(36, 0, 0);
        font-smooth: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        text-decoration: none;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        /* border-top: 1px solid rgba(0,0,0,0.001); */
        box-shadow: 0 0 5px rgba(36, 36, 36, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(104, 103, 103, 0.877);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(139, 139, 139, 0.877);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(117, 115, 115, 0.877);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(109, 107, 107, 0.877);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(77, 76, 76, 0.87);
        cursor: pointer;
    }
    85% {
        outline-width: 0.7px;
    }
    100% {
        outline-offset: 5px;
        outline-color: transparent;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        outline-color: rgb(24, 0, 0);
        font-smooth: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        text-decoration: none;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(41, 41, 41, 0.25);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(10, 10, 10, 0.25);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        animation: glow 1s infinite ease-in-out;
        cursor: pointer;
        outline: none;
    }
}



.Anm-outln10si {
    animation: ofrbtn 1.4s ease-out infinite;
}


@keyframes ofrbtn {
    0% {
        outline-style: solid;
        outline-offset: 0.5px;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        outline-color: rgba(1, 22, 36, 0.877);
        -webkit-font-smooth: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        text-decoration: none;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        /* border-top: 1px solid rgba(0,0,0,0.001); */
        box-shadow: 0 0 5px rgba(36, 36, 36, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(82, 81, 81, 0.877);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(82, 81, 81, 0.877);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(82, 81, 81, 0.877);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(82, 81, 81, 0.877);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(82, 81, 81, 0.877);
        cursor: pointer;
    }
    85% {
        outline-width: 0.5px;
    }
    100% {
        outline-offset: 5px;
        outline-color: transparent;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
        outline-color: rgba(1, 22, 36, 0.815);
        -webkit-font-smooth: antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        text-decoration: none;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(41, 41, 41, 0.25);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(10, 10, 10, 0.25);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(0, 0, 0, 0.25);
        animation: glow 1s infinite ease-in-out;
        cursor: pointer;
        outline: none;
    }
}

/* limited offer button css end */


/* Chest Animation Start */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  
@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

  /* Chest Animatiion End */