.prS1prp{
  background: rgb(51,0,82);
  background: linear-gradient(0deg, rgba(51,0,82,1) 0%, rgba(30,2,66,1) 100%);
    font-family:beyond-wonderland;
    text-transform: capitalize;
    

}
.prS2prp{
  background: rgb(51,0,82);
  background: linear-gradient(45deg, rgb(84, 2, 134) 0%, rgba(30,2,66,1) 100%);
    font-family: jaldi;
    
    
}
.prS3prp{
  background: rgb(51,0,82);
  background: linear-gradient(0deg, rgba(51,0,82,1) 0%, rgba(30,2,66,1) 100%);
    font-family:beyond-wonderland;
  text-transform: capitalize;
  text-shadow: inset 2px 2px 2px 2px #000;
}


/* structured card with color  end  */

/* secondary card start */

.secS1prp{
  background: rgb(17,17,17);
  background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(75,75,75,1) 100%);
    font-family:beyond-wonderland;
    text-transform: capitalize;
    

}
.secS2prp{
  background: rgb(17,17,17);
  background: linear-gradient(45deg, rgba(17,17,17,1) 0%, rgba(75,75,75,1) 100%);
  font-family: jaldi;
    
    
}
.secS3prp{
  background: rgb(17,17,17);
  background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(75,75,75,1) 100%);
    font-family:beyond-wonderland;
  text-transform: capitalize;
  text-shadow: inset 2px 2px 2px 2px #000;
}
/* Secondary card end */

/* success card start */

.scsS1prp{
  background: rgb(10,20,10);
  background: linear-gradient(0deg, rgba(10,20,10,1) 0%, rgba(2,99,32,1) 100%);
    font-family:beyond-wonderland;
    text-transform: capitalize;
 

}
.scsS2prp{
 
  background: rgb(10,20,10);
  background: linear-gradient(45deg, rgba(10,20,10,1) 0%, rgba(2,99,32,1) 100%);
    font-family:jaldi;
    
   
}
.scsS3prp{
  background: rgb(10,20,10);
  background: linear-gradient(0deg, rgba(10,20,10,1) 0%, rgba(2,99,32,1) 100%);
    font-family:beyond-wonderland;
  text-transform: capitalize;

}
/* success card end */


/* danger card start */

.dngrS1prp{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.9612219887955182) 0%, rgba(103,3,3,1) 100%);
  font-family: beyond-wonderland;
  

}
.dngrS2prp{
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,0.9612219887955182) 0%, rgba(103,3,3,1) 100%);
  font-family: jaldi;
  background-size: 400% 100%;
  animation: animatebg 4s linear infinite;
  animation-direction: alternate;

}
.dngrS3prp{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.9612219887955182) 0%, rgba(103,3,3,1) 100%);
  font-family: Quantify;
  text-shadow: inset 2px 2px 2px 2px #000;
}
/* danger card end */


/* warning card start */

.warS1prp{
  background: rgb(59,59,0);
  background: linear-gradient(0deg, rgba(59,59,0,1) 0%, rgba(255,213,0,1) 100%);
  font-family: beyond-wonderland;
  

}
.warS2prp{
  background: rgb(59,59,0);
  background: linear-gradient(45deg, rgba(59,59,0,1) 0%, rgba(255,213,0,1) 100%);
  font-family: jaldi;
  color: #000;
  background-size: 400% 100%;
  animation: animatebg 4s linear infinite;
  animation-direction: alternate;
  
}
.warS3prp{
  background: rgb(59,59,0);
  background: linear-gradient(0deg, rgba(59,59,0,1) 0%, rgba(255,213,0,1) 100%);
  font-family: beyond-wonderland;
  text-shadow: inset 2px 2px 2px 2px #000;
}
/* warning card end */

/* Dark card start */

.darkS1prp{
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.9612219887955182) 0%, rgba(27,27,27,1) 100%);
  font-family: beyond-wonderland;
  

}
.darkS2prp{
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,0.9612219887955182) 0%, rgba(27,27,27,1) 100%);
  font-family: jaldi;
  background-size: 400% 100%;
  animation: animatebg 4s linear infinite;
  animation-direction: alternate;
  
}
.darkS3prp{
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.9612219887955182) 0%, rgba(27,27,27,1) 100%);
font-family: beyond-wonderland;
text-shadow: inset 2px 2px 2px 2px #000;
}
/* Dark card end */


/* police card start */

.plcS1prp{
  background: rgb(1, 0, 61);
background: linear-gradient(0deg, rgb(1, 0, 61) 0%, #940000 100%);
  font-family: beyond-wonderland;
  

}
.plcS2prp{
 

    font-family:jaldi;
     
      background: linear-gradient(45deg,rgba(1, 0, 61, 0.575) 0%, rgb(88, 2, 2) 100%);
      background-size: 400% 100%;
      animation: animatebg 4s linear infinite;
      animation-direction: alternate;
  
}


.plcS3prp{
  background: rgb(1, 0, 61);
background: linear-gradient(0deg, rgb(1, 0, 61) 0%, rgba(148,0,0,1) 100%);
font-family: beyond-wonderland;
text-shadow: inset 2px 2px 2px 2px #000;
}
/* police card end */

  /* info card start */
  
  .infoS1prp{
    background: rgb(5,19,19);
background: linear-gradient(0deg, rgba(5,19,19,1) 0%, rgba(13,169,168,1) 100%);
    font-family:beyond-wonderland;
    text-transform: capitalize;
    
  
  }
  .infoS2prp{
    background: rgb(5,19,19);
    background: linear-gradient(45deg, rgb(9, 36, 36) 0%, rgba(13,169,168,1) 100%);
    font-family: jaldi;
    
    
  }
  .infoS3prp{
    background: rgb(5,19,19);
    background: linear-gradient(0deg, rgba(5,19,19,1) 0%, rgba(13,169,168,1) 100%);
    font-family:beyond-wonderland;
  text-transform: capitalize;
  text-shadow: inset 2px 2px 2px 2px #000;
  }
  /* info card end */

  /* lime card start */
  
  .limeS1prp{
    background: rgb(65,80,23);
    background: linear-gradient(0deg, rgba(65,80,23,1) 0%, rgba(158,204,29,1) 100%);
    font-family:beyond-wonderland;
    text-transform: capitalize;
   
  
  }
  .limeS2prp{
   
    background: rgb(65,80,23);
    background: linear-gradient(45deg, rgba(65,80,23,1) 0%, rgba(158,204,29,1) 100%);
    font-family: jaldi;
    background-size: 400% 100%;
      animation: animatebg 4s linear infinite;
      animation-direction: alternate;
     
  }

  .limeS3prp{
    background: rgb(65,80,23);
    background: linear-gradient(0deg, rgba(65,80,23,1) 0%, rgba(158,204,29,1) 100%);
    font-family:beyond-wonderland;
    text-transform: capitalize;
  
  }
  /* lime card end */




/* animation start */

.anmtncrd{

    background-size: 400% 100%;
    animation: animatebg 4s linear infinite;
    animation-direction: alternate;
}
  @keyframes animatebg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* animation end */
 

 .FntSiz10{
   font-size: 1.7em;
 } 