

:root { font-size: 16px; }
* { margin: 0; padding: 0; }


h1 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.section1 {
  margin: 0 auto;
  max-width: 532px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid #000;
  }
  .swiper-slide {
    text-align: center;
    font-size: 32px;
    background: rgb(32, 32, 32);
    min-height: auto;
    cursor: grab;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-pagination-bullet {
      background: #fff;
      opacity: 1;
      border: 2px solid #000;
  }
  .swiper-pagination-bullet-active {
      background: #000;
  }
  
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
    left: 1.5rem;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
      right: 1.5rem;
  }