<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="height: 100vh; width:100%; display:flex; align-items: center; justify-content:center; background-color: aliceblue;">
    <div style=" display:flex; align-items: center; justify-content:center;  box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.62);  border-radius: 5px; background-color: rgb(214, 29, 255);  width:15rem; height:12rem;">
        <div  style="padding: 2% 6%; border-radius:0.5rem 0% 0.5rem 0%; background-color:#b3c900; color: rgb(255, 255, 255);" id="idf" onclick="myFunction(pd)" >btn</div>
    </div>
    <div style="display:flex; align-items:center; justify-content:center;"></div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>

    $(document).ready(function() {
      $('#idf').click(function(dd) {
        myFunction();
        var md=100;
        var md=dd;
        console.log(dd);
      });
    });
    /*     $(function ddd(dd){
    var md=100;
    var md=dd;
    console.log(dd);
    }); */
    </script>

</body>
</html>